#
# Hisense product Infomation
#
CONFIG_HISENSE_VENDOR_NAME="Hisense"
CONFIG_HISENSE_PRODUCT_NAME="hitv205n"
CONFIG_PROJECTNAME_REPORT=y
CONFIG_SENSORS=y
CONFIG_SENSORS_SSC=y
#
# Hisense sensors device support
#
CONFIG_HS_SNS_ACC=y
CONFIG_HS_SNS_ADSP_ACC=y
CONFIG_HS_SNS_STEP=y
CONFIG_ACC_SENSOR_VENDOR="STK"
CONFIG_ACC_SENSOR_TYPE="STK8XXX"
# CONFIG_HS_SNS_MAG is not set
# CONFIG_HS_SNS_ADSP_MAG is not set
# CONFIG_HS_SNS_GYRO is not set
# CONFIG_HS_SNS_ADSP_GYRO is not set
CONFIG_HS_SNS_ALS=y
CONFIG_HS_SNS_ADSP_ALSPS=y
CONFIG_ALSP_SENSOR_TYPE="STK"
CONFIG_ALSP_SENSOR_VENDOR="STK3B6X"
#
# Hisense fuse support
#
CONFIG_QCOM_CHIP_EFUSE=y
#
# Hisense charge device support
#
CONFIG_HISENSE_BATTERY_THERM_NTC_10K=y
CONFIG_SMB1355_SLAVE_CHARGER=y
# type c otg control
CONFIG_HISENSE_TYPEC_OTG_CONTROL_FUNCTION=y
#
### Hisense TP configuriton
# CONFIG_CHIPONE_TDDI_TOUCHSCREEN is not set
# CONFIG_CHIPONE_TDDI_HAS_RESET_PIN is not set
# CONFIG_CHIPONE_TDDI_GESTURE is not set
# CONFIG_CHIPONE_TDDI_INCELL_CHIP is not set
# CONFIG_CHIPONE_TDDI_GLOVE is not set
# CONFIG_CHIPONE_TDDI_CHARGER_DETECT is not set
CONFIG_TOUCHSCREEN_FT5X06=y
# CONFIG_FT_INCELL_CHIP is not set
CONFIG_TOUCHSCREEN_FT5X06_GESTURE=y 
# CONFIG_TOUCHSCREEN_FT5X06_GESTURE_DRIVER is not set
# CONFIG_TOUCHSCREEN_FACE_DETECTION is not set
CONFIG_TOUCHSCREEN_FT5X06_GLOVE=y
CONFIG_TOUCHSCREEN_FT5X06_GFF_PANNEL=y
# CONFIG_TOUCHSCREEN_FT5X06_HALL is not set
# CONFIG_TOUCHSCREEN_FT5X06_PRAMUPDATE is not set
CONFIG_TOUCHSCREEN_FT5X06_APK_TEST=y
# CONFIG_TOUCHSCREEN_FT5X06_SUB is not set
# CONFIG_FT_SECURE_TOUCH is not set
CONFIG_TOUCHSCREEN_USB_CHECK=y
CONFIG_TOUCHSCREEN_FT5X06_FH=y
CONFIG_TOUCHSCREEN_WORK_MODE=y
CONFIG_TOUCHSCREEN_FT5X06_GET_PANNEL_ID=y
