#
# Hisense product Infomation
#
CONFIG_HISENSE_VENDOR_NAME="Hisense"
CONFIG_HISENSE_PRODUCT_NAME="l752"
CONFIG_SENSORS=y
CONFIG_SENSORS_SSC=y
#
# Hisense sensors device support
#
CONFIG_HS_SNS_ACC=y
CONFIG_HS_SNS_ADSP_ACC=y
CONFIG_HS_SNS_STEP=y
CONFIG_ACC_SENSOR_VENDOR="ICM"
CONFIG_ACC_SENSOR_TYPE="ICM40607"
CONFIG_HS_SNS_MAG=y
CONFIG_HS_SNS_ADSP_MAG=y
CONFIG_MAG_SENSOR_VENDOR="AKM"
CONFIG_MAG_SENSOR_TYPE="AK0991X"
CONFIG_HS_SNS_GYRO=y
CONFIG_HS_SNS_ADSP_GYRO=y
CONFIG_GYRO_SENSOR_VENDOR="ICM"
CONFIG_GYRO_SENSOR_TYPE="ICM40607"
CONFIG_HS_SNS_ALS_PS=y
CONFIG_HS_SNS_ADSP_ALSPS=y
CONFIG_ALSP_SENSOR_TYPE="STK"
CONFIG_ALSP_SENSOR_VENDOR="STK33562"
#
# Hisense chip efuse support
#
#
# Hisense charger function support
#
#CONFIG_HISENSE_BATTERY_THERM_NTC_10K is not set
CONFIG_HISENSE_SGM41512_CHARGER=y
#
# Hisense tp & backlight support
#
#CONFIG_BACKLIGHT_KTD3137 is not set
CONFIG_TOUCHSCREEN_SITRONIX_TS=y
CONFIG_TOUCHSCREEN_SITRONIX_TS_POWER_SUPPLY_EN=y
CONFIG_TOUCHSCREEN_SITRONIX_TS_GLOVE=y
CONFIG_TOUCHSCREEN_SITRONIX_TS_L762=y
CONFIG_TOUCHSCREEN_SITRONIX_TS_GESTURE=y
#
# Hisense nfc device support
#
CONFIG_HISENSE_NFC_PN547=y
CONFIG_MMC_FFU=y

CONFIG_BACKLIGHT_AW99703=y
#
# Hisense fingerprint device support
#
CONFIG_HS_FINGERPRINT=y
CONFIG_FINGERPRINT_SUNWAVE=y
CONFIG_FINGERPRINT_FPC_FPC1542=y
CONFIG_FINGERPRINT_VENDOR_CHECK=y