#
# Hisense product Infomation
#
CONFIG_HISENSE_VENDOR_NAME="Hisense"
CONFIG_HISENSE_PRODUCT_NAME="p40"
CONFIG_PROJECTNAME_REPORT=y
CONFIG_SENSORS=y
CONFIG_SENSORS_SSC=y
#
# Hisense sensors device support
#
CONFIG_HS_SNS_ACC=y
CONFIG_HS_SNS_ADSP_ACC=y
CONFIG_HS_SNS_STEP=y
CONFIG_ACC_SENSOR_VENDOR="STK"
CONFIG_ACC_SENSOR_TYPE="STK8XXX"
CONFIG_HS_SNS_MAG=y
CONFIG_HS_SNS_ADSP_MAG=y
CONFIG_MAG_SENSOR_VENDOR="AKM"
CONFIG_MAG_SENSOR_TYPE="AK0991X"
# CONFIG_HS_SNS_GYRO is not set
# CONFIG_HS_SNS_ADSP_GYRO is not set
CONFIG_HS_SNS_ALS_PS=y
CONFIG_HS_SNS_ADSP_ALSPS=y
CONFIG_ALSP_SENSOR_TYPE="STK"
CONFIG_ALSP_SENSOR_VENDOR="STK3X3X"
#
# Hisense TP device support
#
CONFIG_TOUCHSCREEN_FTS_SPI=y
CONFIG_TOUCHSCREEN_FTS_SPI_DIRECTORY="focaltech_spi"
CONFIG_TOUCHSCREEN_WORK_MODE=y
CONFIG_TOUCHSCREEN_FT8006P_SPI_FH=y
CONFIG_TOUCHSCREEN_FT8006P_SPI_GESTURE=y
CONFIG_TOUCHSCREEN_FT8006P_SPI_GLOVE=y
CONFIG_TOUCHSCREEN_FT8006P_FW_FOR_HNR552T is not set
CONFIG_TOUCHSCREEN_USB_CHECK=y
CONFIG_FT_INCELL_CHIP=y
CONFIG_TOUCHSCREEN_CHIPONE_TDDI=y
CONFIG_TOUCHSCREEN_CHIPONE_TDDI_GESTURE=y
CONFIG_TOUCHSCREEN_CHIPONE_TDDI_GLOVE=y
CONFIG_TOUCHSCREEN_CHIPONE_TDDI_INCELL_CHIP=y
#
# Hisense backlight device support
#
CONFIG_BACKLIGHT_KTD3137=y
#
# Hisense usb device support
#
CONFIG_HISENSE_GPIO_TRIG_OTG=y
#
# Hisense fingerprint device support
#
CONFIG_HS_FINGERPRINT=y
CONFIG_FINGERPRINT_CHIPONE=y
CONFIG_FP_REPORT_WAKEUP_KEY=y
#
# Hisense fuse support
#
CONFIG_QCOM_CHIP_EFUSE=y

