#
# Hisense product Infomation
#
CONFIG_HISENSE_VENDOR_NAME="Hisense"
CONFIG_HISENSE_PRODUCT_NAME="upad1"
CONFIG_PROJECTNAME_REPORT=y
CONFIG_SENSORS=y
CONFIG_SENSORS_SSC=y
#
# Hisense sensors device support
#
CONFIG_HS_SNS_ACC=y
CONFIG_HS_SNS_ADSP_ACC=y
CONFIG_ACC_SENSOR_VENDOR="KXTJ"
CONFIG_ACC_SENSOR_TYPE="KXTJ3"
CONFIG_HS_SNS_STEP=y
# CONFIG_HS_SNS_MAG is not set
# CONFIG_HS_SNS_ADSP_MAG is not set
# CONFIG_HS_SNS_GYRO is not set
# CONFIG_HS_SNS_ADSP_GYRO is not set
CONFIG_HS_SNS_ALS_PS=y
CONFIG_HS_SNS_ADSP_ALSPS=y
CONFIG_ALSP_SENSOR_TYPE="CM"
CONFIG_ALSP_SENSOR_VENDOR="CM36781"

CONFIG_HS_SNS_AP_ALS_PS=y
CONFIG_HS_SNS_CM36781=y
CONFIG_HS_SNS_CM36781_USE_VDD_EN_GPIO=y
CONFIG_HS_SNS_HALL=y
#
# Hisense TP device support
#
CONFIG_TOUCHSCREEN_FT5726=y
CONFIG_TOUCHSCREEN_FT5726_APK_TEST=y
CONFIG_TOUCHSCREEN_USB_CHECK=y
CONFIG_TOUCHSCREEN_FT5726_FH=y
#
# Hisense backlight device support
#
CONFIG_BACKLIGHT_KTZ8866=y
#
# Hisense usb device support
#
# CONFIG_HISENSE_GPIO_TRIG_OTG is not set
#
# Hisense typec pogo pen support
#
CONFIG_HISENSE_TYPEC_POGO_PEN=y
#
# Hisense ukl safe mode support
#
CONFIG_HISENSE_UKL_SAFE_MODE_FUNCTION=y
#
# Hisense fingerprint device support
#
CONFIG_HS_FINGERPRINT=y
CONFIG_FINGERPRINT_CHIPONE=y
CONFIG_FP_REPORT_WAKEUP_KEY=y
#
# Hisense fuse support
#
CONFIG_QCOM_CHIP_EFUSE=y

